html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  line-height: 1.5;
  font-size: .8rem;
  font-style: normal;
  font-weight: lighter;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'PT Sans', sans-serif;
 font-family: 'PT Serif', serif; */

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

b, em, strong {
  font-weight: normal;
}

.serving-size {
  font-style: italic;
}

.list {
  list-style-type: lower-greek;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}

.nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  list-style-type: none;
}

img {
  width: 100%;
}

.fig {
  font-style: italic;
  text-align: center;
}

.quote {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: lighter;
}

.bold-text {
  font-weight: bolder;
}

main dl dt {
  font-weight: bold;
}
